<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reviewServer.css">
  <title>Clean Skin</title>
</head>
<body>

  <div class="container">
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Clean Skin</h2>
        <h4 class="animation a2">Eres lo mas importante para nosotros, por favor cuentanos tu experiencia con Clean Skin...</h4>
      </div>

      <form method="post" action="/users/createReviewService" name="form">
        

        <div class="form">
          <textarea name="testimonio" rows="10" placeholder="Escribe algo"></textarea>
          <button class="animation a6 button" type="submit">Enviar Reseña</button>
  


        </div>
       
       </form>



    
    </div>
    <div class="right">
      <div class="loader"></div>
    </div>
  </div>
  

 <!-- <div class="container">
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Clean Skin</h2>
        <h4 class="animation a2">Eres lo mas importante para nosotros, por favor cuentanos tu experiencia con Clean Skin...</h4>
      </div>
      <div class="form">
       <form method="post" action="/users/createReviewService">
        <textarea name="testimonio" class="form-field animation a4" rows="60" placeholder="Escribe algo..."></textarea>
        <br>
        <br>
        <button class="button" type="submit">Enviar Reseña</button>
       </form>
      </div>
    </div>
    <div class="right"></div>
  </div>--->


</body>
</html>